@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bs__navbar {
  position: sticky !important;
  top: 0px !important;
  z-index: 10;
  box-shadow: 0px 1px 27px rgba(0, 0, 0, 0.15);
}

.css-1s2u09g-control {
  border: none !important;
}

.login__btn {
  background-color: #2caee2 !important;
  border: none !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 10px 45px !important;
}

.nav__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #333333;
}
